body {
  margin: 0;
}
header {
  display: flex;
}
.header-wrapper {
  border-top: 3px solid #29ca8e;
  height: 50px;
  width: 1140px;
  margin: 0 auto;
}
#logo {
  font-size: 18px;
  font-family: sans-serif;
  color: #454545;
  text-decoration: none;
  margin: auto;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  }
  .menu li {
    flex-grow: 1;
    flex-basis: 0;
  }
  .menu li a {
    text-align: center;
    display: block;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #575757;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .menu li a:hover {
    background-color: #29ca8e;
    color: white;
  }
span {
  font-size: 14px;
  font-family: sans-serif;
  color: #575757;
  margin-left: auto;
  margin-top: 20px;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 21px;
  color: #454545;
}
p {
  font-size: 14px;
  color: #757575;
}
.container {
  display: flex;
}
